<html>
<head>
    <title>Home Page</title>
    </head>
<nav>
</nav>
<h1>Hello <%= username %> </h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>
</html>